#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #005096;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
#map a {
  color: #005096;
}

.inside #map-container {
  height: 250px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #aa5a00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  max-width: 1000px;
  margin: auto;
}
#reviews-container {
  padding: 20px;
}
#reviews-container h2 {
  color: #aa5a00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
h3 {
  color: #aa5a00;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* media query */
@media screen and (max-width: 400px) {
  .inside #map-container {
    height: 150px;
  }
  /* nav h1 a {
    font-size: 16px;
  } */
  #restaurant-name {
    font-size: 20px;
  }
}
